# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
vendor/bundle/
vendor/cache/
vendor/ruby/
.bundle/

# OS and editor files
.DS_Store
*~
\#*\#
.\#*
*.swp
*.swo

# Local accidental temp folders
private/

# Local accidental temp folders
private/
